<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dhruvil">
    <meta name="Keyword" content="Portfolio, blog, Web Developer">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="icon" type="img/png"  href="../img/favicon.png">
    <title>Personal Portfolio</title>

</head>
<body>
    <header>
        <h4> One Peice World</h4>
        <p>Set Sail for Laugh Tale</p>

        <nav>
            <a href="index.html">Home</a>
            <a href="characters.html">Characters</a>
            <a href="arc.html">Story Arc</a>
            <a href="ep.html">Episodes</a>
            <a href="about.html">about</a>
        </nav>
    </header>

    <aside>
        <h5>Main Characters:</h5>
        
        <ul>
        <li>Roronora Zoro</li>
        <li>Nami</li>
        <li>Usopp</li>
        <li>Sanji</li>
        <li>Tony Chopper</li>
        <li>Nico Robin</li>
        <li>Franky</li>
        <li>Brook</li>
        <li>Jinbe</li>
        
        </ul>
    </aside>

    <main>
        <section>
            <h2> Welcome to the World of One Piece</h2>
            <pre>Explore the adventures of the Straw Hat Pirates as they journey through the Grand Line searching for the ultimate treasure 
                <strong>— the One Piece!</strong></pre>

        </section>

        <section>
            <h2> Featured Story Arc:</h2>
            <h4>Dressrosa Arc:            </h4>
            <pre>The Straw Hats confront the powerful warlord <b>Donquixote Doflamingo</b> in a battle to liberate the island of Dressrosa.</pre>

        </section>

        <section>
            <h2>Character Spotlight: Monkey D. Luffy</h2>
            <pre>Luffy is the fearless captain of the <b>Straw Hat Pirates.</b> With his rubber powers from the <i>Gomu Gomu no Mi</i>, his dream is to become the <b>Pirate King.</b></pre>
        </section>


    </main>
    <footer>
        <p>© 2025 One Piece Fan Site | Created with ❤️ by a Straw Hat | Contact: <a href="mailto:fanmail@onepiece.com">fanmail@onepiece.com</a></p>
    </footer>

    
</body>
</html>